# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/coverage/lcov-report/pomodoro_todo/src/components/index.html
/coverage/lcov-report/pomodoro_todo/src/components/TaskList.js.html
/coverage/lcov-report/pomodoro_todo/src/components/Timer.js.html
/coverage/lcov-report/pomodoro_todo/src/components/TodoList.js.html
/coverage/lcov-report/pomodoro_todo/src/tools/data.js.html
/coverage/lcov-report/pomodoro_todo/src/tools/index.html
/coverage/lcov-report/pomodoro_todo/src/tools/localStorage.js.html
/coverage/lcov-report/pomodoro_todo/src/tools/tools.js.html
/coverage/lcov-report/pomodoro_todo/assetsTransformer.js.html
/coverage/lcov-report/pomodoro_todo/index.html
/coverage/lcov-report/base.css
/coverage/lcov-report/block-navigation.js
/coverage/lcov-report/favicon.png
/coverage/lcov-report/index.html
/coverage/lcov-report/prettify.css
/coverage/lcov-report/prettify.js
/coverage/lcov-report/sort-arrow-sprite.png
/coverage/lcov-report/sorter.js
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov.info
