body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #888888;
    color: white;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

button.btn-img {
    width: 20px;
    height: 20px;
    padding: 0;

}
button.btn-img > img {
    width: 100%;
    height: 100%;
}


#app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; /* 전체 화면에 맞춤 */

}

/* 헤더 스타일 */
#header {
    background-color: #121212;
    text-align: center;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* 메인 콘텐츠 영역 (좌우 패널) */
#content {
    display: flex;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

/* 왼쪽 패널 (목록) */
#left-panel {
    flex: 1;
    background-color: #121212;
    padding: 20px;
    margin-right: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#folder-input-view {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

#folder-input-view > .folder-input-item{
    padding: 4px 8px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

#folder-input-view > .folder-input-item > img {
    height: 20px;
    width: 20px;
}

#folder-input {
    height: 30px;
}

.left-panel-title{
    display: flex;
    align-items: center;
    gap: 10px;
}

#add-folder-button {
    cursor: pointer;
}

#folder-list {
    padding: 0 10px;
}

.folder-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    border-radius: 5px;
    padding: 4px 8px;
}
.folder-item.selected {
    background-color: #747bff;
}
.folder-item > .todo-li-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.folder-item-title{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 오른쪽 패널 (할일 입력) */
#right-panel {
    flex: 2;
    background-color: #121212;
    padding: 20px;
    margin-left: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

#task-list > .task-item[completed=true] > .task-item-left{
    opacity: 0.4;
}

#task-input-view {
    background-color: grey;
    padding: 10px;
    margin-top: 20px;
}
#task-input-view > #task-input {
    width: 100%;
    margin-bottom: 10px;
    height: 30px;
}

#task-input-view > .pomodoro-input {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

#task-input-view > .task-btn-group {

}

#task-input-view > .task-btn-group > button{
    height: 30px;
}

.right-panel-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-wrapper{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.task-item-left {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: start;
}

.task-item-left .task-text-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: start;
}

.task-pomodoro-time{
    color: #888888;
}

.task-pomodoro-count{
    color: red;
    font-size: 20px;
}

.task-item-right{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
}



#header-timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

#header-timer .header-timer-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#header-timer .header-timer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.title-h2{
    color:#747bff;
}