<header>
    <div id="header-title">Pomodoro Todo List</div>
    <div id="header-timer" style="display: none;">
        <div id="header-timer-wrapper">
            <div class="header-timer-left">
                <span id="header-task-title"></span>
            </div>
            <div class="header-timer-right">
                <span id="header-remaining-time"></span>
                <button id="header-stop-button">ㅁ</button>
                <button id="header-pause-button">||</button>
                <button id="header-play-button" style="display: none;">&gt;</button>
            </div>
        </div>



    </div>
</header>