<header>
    <div id="header-title">Pomodoro Todo List</div>
    <div id="header-timer" style="display: none;">
        <div id="header-timer-wrapper">
            <div class="header-timer-left">
                <div class="title-h2" id="header-todo-title"></div> / <div id="header-task-title"></div>
            </div>
            <div class="header-timer-right">
                <span id="header-remaining-time"></span>
                <button class="btn-img" id="header-stop-button"><img src="./images/stop_black.png"></button>
                <button class="btn-img" id="header-pause-button"><img src="./images/pause_black.png"></button>
                <button class="btn-img" id="header-play-button" style="display: none;"><img src="./images/play_black.png"></button>
            </div>
        </div>



    </div>
</header>